@model Labka1.ViewModel.LoginViewModel

<h2>Вхід в акаунт</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <button class="btn btn-outline-primary" type="submit">Увійти</button>
        <a class="btn btn-outline-primary" asp-action="GoogleLogin">Log In With Google</a>
    </div>
</form>
