@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо на сайті Drift Paradise</h1>
    <p>Тут ви можете дізнатись про кращі дріфт-команди з усього світу, їхні надпотужні автомобілі та заходи, де їх можна зустріти</a>.</p>
</div>

<img src="https://look.com.ua/pic/201209/1920x1200/look.com.ua-7598.jpg" style="width:100%;max-height:95%;">