@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо на сайті Drift Paradise</h1>
    <p>Тут ви можете дізнатись про кращі дріфт-команди з усього світу, їхні надпотужні автомобілі та заходи, де їх можна зустріти</a>.</p>
</div>